/* 多行註解
// 單行註解 
單行註解在 Eclipse 的 CSS Editor 無法正常識別, 會出現錯誤; 但
client 端支援即可, 但 chrome 不支援
*/

* {
	background-color: LightGreen ;
}

aside {
	float: right;	
}

#menu {
	position: fixed;
	top: 1%;
	left: 1%;	
	background: pink 30%;
}

footer {
	align-content: center;
}

details#menu{
	margin: 1px;
	padding: 1px;
}


/*
.menu:hover {
	open: true;
}
*/
