/* 多行註解
// 單行註解 
單行註解在 Eclipse 的 CSS Editor 無法正常識別, 會出現錯誤; 但
client 端支援即可, 但 chrome 不支援
*/

@font-face {
	font-family: BopomofoRuby;
	src: url(./font/BopomofoRuby1909-v1-Regular.ttf);
}

@font-face {
	font-family: KaiTiZhuYin;
	src: url(./font/Wang-KaiTi-ZhuYin.ttf);
}

html {
	background-color: LightSkyBlue ;
}

header{
/*	font-family: BopomofoRuby;	
	color: red;		
*/
	font-family: KaiTiZhuYin;
}

header,
footer {
	width: 100%;
	height: 15%;
	text-align:center;
}

main　{
	width: 100%;
	height: 75%;
}

iframe {
	width: 100%;
	height: 100%;
}

aside {
	float: right;
}

/* 選單
---------------------------------------------*/
.menu {
	z-index: 10;
	position: fixed;

	background: pink;
	opacity: 0.65;
}

.menu:hover{
	opacity: 0.92;
	/*
	open: true;
	*/
}

#func_menu {
	top: 1%;
	left: 1%;			
}

#user_menu {
	top: 1%;
	right: 1%;			
}


/* 通用
---------------------------------------------*/

details#menu{
	margin: 1px;
	padding: 1px;
}

rt {
	font-family: BopomofoRuby;
	font-variant-east-asian: salt;
	font-feature-settings: "salt";
	text-orientation: upright;
}

#main_frame{
	width: 100%;
	height: 100%;
}
