/* 多行註解
 單行註解在 Eclipse 的 CSS Editor 無法正常識別, 會出現錯誤; 但 client 端支援即可
 // 單行註解 
 */

* {
	border:1px dotted red;
	margin: 3px;	
	padding: 3px;
}

/*
:hover {
	opacity: 50%;		
}

:focus{
	color: yellow;
	background-color: rgba(128, 128, 255, 40%);
}
---------------------------		---------------*/